<!--{% extends "bootstrap/base.html"  %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Reset password
{% endblock %}

{% block styles %}
-->
    {% assets "login_view_css" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
    <style>
    body{
      background-image: url({{ url_for(".static", filename="images/PSH3.jpg")}});
       background-repeat: no-repeat;
       width:100%;
       height:auto ;
       background-size:cover;
    }
    </style>
{% endblock %}

{% block content %}-->
<body>

<div class="container-fluid" style="height:15%">
</div>
<div class=container style="width : 40em;margin:auto">
    <div class="card text-white mb-3 border-0" style="opacity:0.97; " >
      <div class="card-header" style=" background-color : #303030">
        <h2>Reinitialiser votre mot de passe</h2>
      </div>
      <div class="card-body" style ="background-color : #303030">
        <div class="container">
          <form class="form-signin", method="POST", action="/password_reset/{{ token }}">
              {{ form.hidden_tag() }}
              {{ wtf.form_field(form.password) }}
              {{ wtf.form_field(form.confirm_password)}}
              <button class="btn btn-lg btn btn-light btn-block " type="submit">Reinitialiser</button>
          </form>
        </div>
  </div>
</div>
</div>
</body>

{% endblock %}
